<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
    	</script>
		<link href="css/styles.css" rel="stylesheet">
	</head>
<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Logout</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
            <li>
            <a href="<%=nav[0].link + '/' + id%>"><%=nav[0].title%></a>
            </li>
            <li>
            <a href="<%=nav[2].link %>"><%=nav[2].title%></a>
            </li>
            <li>
            <a href="<%=nav[3].link %>"><%=nav[3].title%></a>
            </li>        
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h1><%=title%>
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-10" align="left">
          <br>
          <br>
          <br>
          <h3><i>Student integrated<br> Tracking Envionment</i></h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">

          <!-- Display Clock -->
          <div id="ClockDisplay" style="font-size:20px"></div>
          <script type="text/javascript">
            function showTime() {
              var date = new Date();
              var h = date.getHours();
              var m = date.getMinutes();
              var s = date.getSeconds();
              var session = "AM";

              if(h == 0){
                h = 12;
              }

              if(h > 12){
                h = h - 12;
                session = "PM";
              }

              h = (h < 10) ? "0" + h : h;
              m = (m < 10) ? "0" + m : m;
              s = (s < 10) ? "0" + s : s;

              var time = h+":"+m+":"+s+" "+session;
              document.getElementById("ClockDisplay").innerText = time;
              document.getElementById("ClockDisplay").textContent = time;

              setTimeout(showTime, 1000);
            }
            showTime();
          </script>

          <div class="row">
            <div class="col-xs-10" style="font-family:courier">
              <h2>Add a course</h2>
              <h5>As a Teacher assistant, create a class with your user ID and a unique CID</h5>
              <hr>
            </div>
            <div class="col-xs-2"></div>
          </div>


    	  
          <!-- Forms to add courses for TA's only -->
          <br>
          <form method="post" action="/addcourse/submit" style="">
<!--           
	          <div class="form-field">
	       		  <label for="id">ID:</label>
	          	<input class="input" id="id" name="id" type="number" style="background-color:#ecf2ef; width:110px"/>
	          </div> -->
	            <div class="form-field">
	        	  <label for="id">CID: </label>
	          	<input class="input" id="cid" name="cid" type="number" style="background-color:#ecf2ef; width:100px"/>
	          </div>
	          <div class="form-field">
	            <label for="cid">Class name: </label>
	            <input class="input" id="cname" name="cname" type="string"  style="background-color:#ecf2ef; width:200px"/>
	          </div>
	          <div class="form-field">
	        	<label for="id">Professor: </label>
	          	<input class="input" id="prof" name="prof" type="string" style="background-color:#ecf2ef; width:215px"/>
	          </div>
	          <div class="form-actions">
	          	<input type="submit" value="submit" style="font-size:18px">
	          </div>
          </form>
             
          <a href="/" class="btn btn-primary pull-right btnNext">Home</a>
        </div>
      </div>
   	</div><!--/col-12-->
  </div>
</div>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
          <h5>A project created for CSCI 3308 - Spring 2018 at CU-Boulder</h5>
      </div>
    </div>
  </div>
</footer>

	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>
