<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title><%=title%></title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <%for (let i=0; i<nav.length; i++) {%>
          <li>
            <a href="<%=nav[i].link%>"><%=nav[i].title%></a>
          </li>
        <%}%>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1><%=title%>
          <p class="lead"></p>
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">
            <!-- start of body -->

            <!-- Display Clock -->
            <div id="ClockDisplay" style="font-size:20px;"></div>
            <script type="text/javascript">
              function showTime() {
                var date = new Date();
                var h = date.getHours();
                var m = date.getMinutes();
                var s = date.getSeconds();
                var session = "AM";
                if(h == 0){
                  h = 12;
                }
                if(h > 12){
                  h = h - 12;
                  session = "PM";
                }
                h = (h < 10) ? "0" + h : h;
                m = (m < 10) ? "0" + m : m;
                s = (s < 10) ? "0" + s : s;
                var time = h+":"+m+":"+s+" "+session;
                document.getElementById("ClockDisplay").innerText = time;
                document.getElementById("ClockDisplay").textContent = time;
                setTimeout(showTime, 1000);
              }
              showTime();
             </script>

          <br>
          <h2>My Courses</h2>
          

          
          <hr>

          <!-- SHOW COURSES START: shows all courses for a specific student -->
          <%for (let i=0; i<courses.length; i++) {%>
            <div class="row">
              <div class="col-md-2 col-sm-3 text-center">
                <% if( (i == 0) || (courses[i].class != courses[i-1].class) ) { %>
                  <a class="story-title" href="#">
                    <img alt="" src="http://tachyondecay.net/images/blog/fb_performance.png" 
                    style="width:100px;height:100px" class="img-circle">
                  </a>
                <%}%>
              </div>
              <div class="col-md-10 col-sm-9">
                <div class="row">
                  <div class="col-xs-9">
                    <h4>
                      <span class="label label-default"><%=courses[i].name%></span>
                    </h4>
                  </div>
                </div>
                <% if( (i == 0) || (courses[i].class != courses[i-1].class) ) { %>
                  <h3> <%=courses[i].class%> </h3>
                <%}%>
                <div class="row">
                  <div class="col-xs-9">
                    <h3>
                      <span class="label label-default"><%=courses[i].full_name%></span>
                    </h3>   
                    <%
                      var TAbeginend = [
                          courses[i].MondayS,
                          courses[i].MondayE,
                          courses[i].TuesdayS, 
                          courses[i].TuesdayE,
                          courses[i].WednesdayS, 
                          courses[i].WednesdayE,
                          courses[i].ThursdayS, 
                          courses[i].ThursdayE,
                          courses[i].FridayS, 
                          courses[i].FridayE
                      ];
                      TAspots = [
                          courses[i].Mlocation,
                          courses[i].Tlocation,
                          courses[i].Wlocation,
                          courses[i].THlocation,
                          courses[i].Flocation
                      ];


                      for (let j = 0; j < 9; j+=2) {
                        if (TAbeginend[j] != 0) {
                              var BAMPM = 'AM';
                              var EAMPM = 'AM';

                              var b = TAbeginend[j];
                              var e = TAbeginend[j+1];
                              begin = Number(b);
                              end = Number(e);
                              
                              if(begin>=13) {
                                BAMPM = 'PM';
                                begin = begin - 12;
                              }
                              if(end>=13) {
                                EAMPM = 'PM';
                                end = end - 12;
                              }

                              begin = begin.toString();
                              begin = begin.replace(".",":");
                              end = end.toString();
                              end = end.replace(".",":");

                              if(begin.length <= 2) {
                                begin = begin + ":00";
                              } else if(begin.length == 3) {
                                begin = begin + "0";
                              }

                              if(end.length <=2) {
                                end = end + ":00";
                              }
                              else if(end.length ==3) {
                                end = end + "00";
                              }
                              begin = begin.substring(0,5);
                              end = end.substring(0,4);

                              if(begin.charAt(1) != ":"){
                                begin = begin + "0";
                              }
                              if(end.charAt(1) != ":"){
                                end = end + "0";
                              }

                              TAbeginend[j] = begin + "  " + BAMPM;
                              TAbeginend[j+1] = end + "  " + EAMPM;
                        }
                    } if(TAbeginend[0] != 0){  if(TAbeginend[1] != 0){ %>
                      <!-- MONDAY --> 
                        <table><tr>
                          <td><h4><u><b>Monday:</b></u>&ensp;<%=TAbeginend[0]%></h4></td>
                          <td><h4> - </h4></td>
                          <td><h4><%=TAbeginend[1]%><b>&nbsp;<%=TAspots[0]%></b></h4></td>
                        </tr></table>

                      <!-- TUESDAY -->
                      <% }} if(TAbeginend[2] != 0){  if(TAbeginend[3] != 0){ %>
                      
                        <table><tr>
                          <td><h4><u><b>Tuesday:</b></u>&ensp;<%=TAbeginend[2]%></h4></td>
                          <td><h4> - </h4></td>
                          <td><h4><%=TAbeginend[3]%><b>&nbsp;<%=TAspots[1]%></b></h4></td>
                        </tr></table>
                      
                      <% }} if(TAbeginend[4] != 0){  if(TAbeginend[5] != 0){ %>
                      <!-- WEDNESDAY -->
                        <table><tr>
                          <td><h4><u><b>Wednesday:</b></u>&ensp;<%=TAbeginend[4]%></h4></td>
                          <td><h4> - </h4></td>
                          <td><h4><%=TAbeginend[5]%><b>&nbsp;<%=TAspots[2]%></b></h4></td>
                        </tr></table>
                      
                      <% }} if(TAbeginend[6] != 0){  if(TAbeginend[7] != 0){ %>
                      <!-- THURSDAY -->
                        <table><tr>
                          <td><h4><u><b>Thursday:</b></u>&ensp;<%=TAbeginend[6]%></h4></td>
                          <td><h4> - </h4></td>
                          <td><h4><%=TAbeginend[7]%><b>&nbsp;<%=TAspots[3]%></b></h4></td>
                        </tr></table>
                      
                      <% }} if(TAbeginend[8] != 0){  if(TAbeginend[9] != 0){ %>
                      <!-- FRIDAY -->
                        <table><tr>
                          <td><h4><u><b>Friday:</b></u>&ensp;<%=TAbeginend[8]%></h4></td>
                          <td><h4> - </h4></td>
                          <td><h4><%=TAbeginend[9]%><b>&nbsp;<%=TAspots[4]%></b></h4></td>
                        </tr></table>
                      <% }} %>
                    %>
                    <br>
                    </div>
                   <div class="col-xs-3"></div>
                </div>
                <h4 style="font-family:courier,'new courier';">
                  <!-- /courses/<%=i%> allows us to show a unique class by -->
                  <a href="/courses/<%=courses[i].id%>" class="text-muted">
                    Read More
                  </a>
                </h4>

              </div>
            </div>
            <hr>
            <%}%> <!--/end of TA show-->
            
            <a href="/" class="btn btn-primary pull-right btnNext">Home</a>
          
          </div><!-- end of body -->
        </div>
      </div>
    </div><!--/col-12-->
  </div>
</div>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h5>A project created for CSCI 3308 - Spring 2018 at CU-Boulder</h5>
      </div>
    </div>
  </div>
</footer>

  <!-- script references -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>