<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<link href="/css/styles.css" rel="stylesheet">
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Logout</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
            <li>
            <a href="<%=nav[0].link + '/' + id%>"><%=nav[0].title%></a>
            </li>
            <li>
            <a href="<%=nav[2].link%>"><%=nav[2].title%></a>
            </li>
            <li>
            <a href="<%=nav[3].link %>"><%=nav[3].title%></a>
            </li>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1><%=title%>
          <p class="lead"></p>
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">

          <!-- Display Clock -->
          <div id="ClockDisplay" style="font-size:20px"></div>
          <script type="text/javascript">
            function showTime() {
              var date = new Date();
              var h = date.getHours();
              var m = date.getMinutes();
              var s = date.getSeconds();
              var session = "AM";
              if(h == 0){
                h = 12;
              }
              if(h > 12){
                h = h - 12;
                session = "PM";
              }
              h = (h < 10) ? "0" + h : h;
              m = (m < 10) ? "0" + m : m;
              s = (s < 10) ? "0" + s : s;
              var time = h+":"+m+":"+s+" "+session;
              document.getElementById("ClockDisplay").innerText = time;
              document.getElementById("ClockDisplay").textContent = time;
              setTimeout(showTime, 1000);
            }
            showTime();
          </script>
          <hr>
          
          <!--show specific TA-->
            <div class="row">
              <div class="col-md-2 col-sm-3 text-center">
                <h3><%=courses.class%></h3>
                <h4><span class="label label-default"><%=courses.full_name%></span></h4>
                <br>
                <a class="story-title" href="#"><img alt="" src="http://tachyondecay.net/images/blog/fb_performance.png" style="width:100px;height:100px" class="img-circle"></a>
              </div>
              <div class="col-md-10 col-sm-9">
                
                <div class="row">
                  <div class="col-xs-9">
                    <br>
                    <br>
                    <br>
                    <% var times = [
                        courses.MondayS,
                        courses.MondayE,
                        courses.TuesdayS, 
                        courses.TuesdayE,
                        courses.WednesdayS, 
                        courses.WednesdayE,
                        courses.ThursdayS, 
                        courses.ThursdayE,
                        courses.FridayS, 
                        courses.FridayE
                    ];
                    
                    for (let j = 0; j < 9; j+=2) {
                        if (times[j] != 0) {
                            var BAMPM = 'AM';
                            var EAMPM = 'AM';

                            var b = times[j];
                            var e = times[j+1];
                            begin = Number(b);
                            end = Number(e);
                            
                            if(begin>=13) {
                              BAMPM = 'PM';
                              begin = begin - 12;
                            }
                            if(end>=13) {
                              EAMPM = 'PM';
                              end = end - 12;
                            }

                            begin = begin.toString();
                            begin = begin.replace(".",":");
                            end = end.toString();
                            end = end.replace(".",":");

                            if(begin.length <= 2) {
                              begin = begin + ":00";
                            } else if(begin.length == 3) {
                              begin = begin + "0";
                            }

                            if(end.length <=2) {
                              end = end + ":00";
                            }
                            else if(end.length ==3) {
                              end = end + "00";
                            }
                            begin = begin.substring(0,5);
                            end = end.substring(0,4);

                            if(begin.charAt(1) != ":"){
                              begin = begin + "0";
                            }
                            if(end.charAt(1) != ":"){
                              end = end + "0";
                            }

                            times[j] = begin + " " + BAMPM;
                            times[j+1] = end + " " + EAMPM;
                        }
                    }

                    var spots = [
                        "Monday:",
                        courses.Mlocation,
                        "Tuesday",
                        courses.Tlocation,
                        "Wednesday",
                        courses.Wlocation,
                        "Thursday",
                        courses.THlocation,
                        "Friday",
                        courses.Flocation
                    ];


                    for (let i = 0; i < 9; i+=2) {
                      if(times[i] != 0){   if(times[i+1] != 0) { %> 
                        <table><tr>
                          <td><h4><b><%=spots[i]%></b></h4></td>
                          <td><h4>:&ensp;<%=times[i]%> - <%=times[i+1]%></h4></td>
                          <td><h4><b>&nbsp;<%=spots[i+1]%></b></h4></td>
                        </tr>
                      </table>

                    <% }}} %>

                  </div>
                  <div class="col-xs-3"></div>
                </div>
                <br><br>
              </div>
            </div> <!--//show specific TA-->

            <hr>
            <a href="/" class="btn btn-primary pull-right btnNext">Home</a>
        </div>
      </div>
   	</div>
  </div>
</div>

<hr>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h5>A project created for CSCI 3308 - Spring 2018 at CU-Boulder</h5>
      </div>
    </div>
  </div>
</footer>

	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</body>
</html>