<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title><%=title%></title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/css/styles.css" rel="stylesheet">
  </head>
  <body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Logout</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
          <li>
            <% if (type == 2) { %>
            <li>
            <a href="<%=nav[1].link%>"><%=nav[1].title%></a>
            </li>
            <%} else {%>
            <li>
            <a href="<%=nav[0].link + '/' + id%>"><%=nav[0].title%></a>
            </li>
            <li>
            <a href="<%=nav[2].link%>"><%=nav[2].title%></a>
            </li>
            <li>
            <a href="<%=nav[3].link %>"><%=nav[3].title%></a>
            </li>
            <%}%>

          </li>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">
  <div class="container" >
    <div class="row">
      <div class="col-md-2">
        <h1><%=title%></h1>
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-10" align="left|middle">
          <br>
          <br>
          <br>
          <h3><i>Student integrated<br> Tracking Envionment</i></h3>
      </div>

    </div>
  </div>
</div>

<div class="container" style="background-color:#cecece">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">
          <!-- BODY START -->
          <div class="row">
              <br>
              <div class="col-md-10 col-sm-9">

              <!-- Display Clock -->
              <div id="ClockDisplay" style="font-size:20px"></div>
              <script type="text/javascript">
                function showTime() {
                  var date = new Date();
                  var h = date.getHours();
                  var m = date.getMinutes();
                  var s = date.getSeconds();
                  var session = "AM";
                  if(h == 0){
                    h = 12;
                  }
                  if(h > 12){
                    h = h - 12;
                    session = "PM";
                  }
                  h = (h < 10) ? "0" + h : h;
                  m = (m < 10) ? "0" + m : m;
                  s = (s < 10) ? "0" + s : s;
                  var time = h+":"+m+":"+s+" "+session;
                  document.getElementById("ClockDisplay").innerText = time;
                  document.getElementById("ClockDisplay").textContent = time;
                  setTimeout(showTime, 1000);
                }
                showTime();
              </script>

                <br>
                <h2>Current Office Hours</h2>

                <div class="row">
                  <div class="col-xs-12" style="font-family:courier">
                    <h4>
                        Shown are TA's that are holding office hours either currently or within the day. Consult the My Courses tab to find all TA and professor office hours for your specific classes!
                    </h4>
                  </div>
                </div>
              </div>
          </div>

          <hr>
          <br>

          <!-- SHOW TA's START: shows only current and upcoming TA's for the day-->
          <%for (let i=0; i<dashboard.length; i++) { %>  
          		<% var d = new Date();
                 var day = d.getDay();
                var hour = String(d.getHours());
                 var minute = String(d.getMinutes());
                 if(minute.length == 1){
                    minute = '0'+minute;
                  }
                 var hour = hour + '.' + minute;
                 var hour = Number(hour);
                 if(day == 1){
                    var begin = dashboard[i].MondayS;
                    var end = dashboard[i].MondayE;
                   var spot = dashboard[i].Mlocation;
                  }
                if(day == 2){
                    var begin = dashboard[i].TuesdayS;
                    var end = dashboard[i].TuesdayE;
                    var spot = dashboard[i].Tlocation;
                  }
                 if(day == 3){
                    var begin = dashboard[i].WednesdayS;
                    var end = dashboard[i].WednesdayE;
                    var spot = dashboard[i].Wlocation;
                  }
                 if(day == 4){
                    var begin = dashboard[i].ThursdayS;
                    var end = dashboard[i].ThursdayE;
                    var spot = dashboard[i].THlocation;
                  }
                  if(day == 5){
                    var begin = dashboard[i].FridayS;
                    var end = dashboard[i].FridayE;
                    var spot = dashboard[i].Flocation;
                  }
                  if((begin <= hour) && (end >= hour)){
                 	  inc = 1;

                      var BAMPM = 'AM';
                      var EAMPM = 'AM';

                      begin = Number(begin);
                      end = Number(end);
                      if(begin>=13){
                          BAMPM = 'PM';
                          begin = begin - 12;
                        }
                      if(end>=13){
                          EAMPM = 'PM';
                          end = end - 12;
                        }
                        begin = begin.toString();
                        begin = begin.replace(".",":");
                        end = end.toString();
                        end = end.replace(".",":");
                        if(begin.length <=2 ){
                          begin = begin + ":00";
                        }
                        else if(begin.length ==3 ){
                          begin = begin + "0";
                        }
                        if(end.length <=2 ){
                          end = end + ":00";
                        }
                        else if(end.length ==3 ){
                          end = end + "00";
                        }
                        begin = begin.substring(0,5);
                        end = end.substring(0,4);

                        if(begin.charAt(1) != ":"){
                            begin = begin + "0";
                        }
                        if(end.charAt(1) != ":"){
                            end = end + "0";
                        } %>

            <div class="row">
              <div class="col-md-2 col-sm-3 text-center">
                      <a class="story-title" href="#">
                      <img alt="" src="http://tachyondecay.net/images/blog/fb_performance.png"
                      style="width:100px;height:100px" class="img-circle">
                      <!-- here show the ta's Image -->
                </a>
              </div>
              <div class="col-md-10 col-sm-9">
                    <h3><%=dashboard[i].class%></h3>
               
                <div class="row">
                  <div class="col-xs-9">
                    <h3>
                      <span class="label label-default"><%=dashboard[i].full_name%></span></h4><h4>
                    </h3>
                        <table><tr>
                          <td><h4>In session:&nbsp;<%=begin+ ' ' + BAMPM + "-"%></h4></td>
                          <td><h4><%=end + '  ' + EAMPM%><b>&nbsp;<%=spot%></b></h4></td>
                        </tr></table>
                  </div>
                  <div class="col-xs-3"></div>
                </div>
                <br>
              </div>
            </div>
            <% } %> <!-- end of loop inc -->
        <% } %> <!--/show TA's END-->
        
        </div>
      </div>
    </div><!--/col-12-->
  </div>
</div>
<hr>
<hr>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h5>A project created for CSCI 3308 at CU-Boulder- Spring 2018</h5>
      </div>
    </div>
  </div>
</footer>
  <!-- script references -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>